.gallery { overflow: visible }
.gallery-thumbs .gallery-item { float: left; margin: -3px 7px 7px -3px; line-height: 0 }
.gallery-thumbs .gallery-item a { display: block; padding: 2px; border: 1px solid transparent }
.gallery-thumbs .gallery-item a:hover, .gallery-thumbs .gallery-item a.active { border: 1px solid #CCC; }
.gallery-slider { position: relative; overflow: hidden; }
.gallery-slider .gallery-item img { border: 0 }